body{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: rgb(243, 243, 243);
    

}
div{
    border-radius: 5px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    gap: 15px;
    position: fixed;
}


.card1{
    grid-row:1/3;
    grid-column: 1/2;
    background-color: hsl(31, 66%, 93%);
    padding: 20% 15%;
}
.create{
    font-size: clamp(20px, 3vw, 55px);
    font-weight: 600;
    line-height: 80%;
    letter-spacing: -2px;
    margin-bottom: 5%;
}
.img{
    max-inline-size: 75%;
     display:block; margin-left:1%; margin-right:auto; 
}
.card2{
    grid-row: 1/2;
    grid-column: 2/4;
    background-color:hsl(256, 67%, 59%) ;
}
.social{
    font-size: clamp(20px, 3vw, 55px);
    color: white;
    margin: 5%  ;
    justify-self: center;
    margin-bottom: 3%;
    line-height:85% ;
    text-align: center;
}
.img-star{
    max-inline-size: 22%;
    display: flex;
    justify-self: center;
    margin-bottom: 1%;
}
.view{
    color: rgb(230, 230, 230);
    font-size: clamp(8px, 1vw, 20px);
    justify-self: center;
}
.card3{
    grid-row: 1/4;
    grid-column: 4/5;
    background-color: hsl(254, 88%, 90%);
}
.schedule{
    font-weight: 600;
    margin: 10% 5% 5% 5%;
    line-height: 85%;
    letter-spacing: -1px;
    font-size: clamp(10px,2vw,40px);
}
.img-time{
    max-inline-size: 90%;
    margin-left: 5%;
}
.optimize{
    font-size: clamp(10px, 2vw, 20px);
    margin: 2% 20%;
    line-height: 99%;
    letter-spacing: 0px;
}
.card4{
    grid-row: 3/5;
    grid-column: 1/2;
    background-color: hsl(39, 100%, 71%);
}
.card5{
    grid-row: 2/4;
    grid-column: 2/3;
    background-color: white;
}
.card6{
    grid-row: 2/4;
    grid-column: 3/4;
    background-color: hsl(39, 100%, 71%);
}
.card7{
    grid-row: 4/5;
    grid-column: 2/3;
    
    background-color: white;
}
.card8{
    grid-row: 4/5;
    grid-column: 3/5;
    background-color: hsl(256, 67%, 59%);
}
@media (max-width:615px){

    .container{
        grid-template-columns: 1fr 1fr;
    }
    .card1, .card3, .card5, .card7{
        grid-column: 1/2;
        grid-row: auto;
    }
    .card2, .card4, .card6, .card8{
        grid-column: 2/3;
        grid-row: auto;
    }
}
@media (max-width:360px){

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .card1, .card3, .card5, .card7, .card2, .card4, .card6, .card8{
        grid-column: 1/2;
        grid-row: auto;
    }
}