body{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: rgb(243, 243, 243);

}
div{
    border-radius: 5px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    gap: 15px;
    height: 100vh;
}
.card {
  overflow: hidden;
}


.card1{
    grid-row:1/3;
    grid-column: 1/2;
    background-color: hsl(31, 66%, 93%);
    padding: 20px 10px;
}
.create{
    font-size: clamp(20px, 8vw, 50px);
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.img{
    max-inline-size: 100%;
}
.card2{
    grid-row: 1/2;
    grid-column: 2/4;
    
    background-color:hsl(256, 67%, 59%) ;
}
.card3{
    grid-row: 1/4;
    grid-column: 4/5;
    background-color: hsl(254, 88%, 90%);
}
.card4{
    grid-row: 3/5;
    grid-column: 1/2;
    background-color: hsl(39, 100%, 71%);
}
.card5{
    grid-row: 2/4;
    grid-column: 2/3;
    background-color: white;
}
.card6{
    grid-row: 2/4;
    grid-column: 3/4;
    background-color: hsl(39, 100%, 71%);
}
.card7{
    grid-row: 4/5;
    grid-column: 2/3;
    
    background-color: white;
}
.card8{
    grid-row: 4/5;
    grid-column: 3/5;
    background-color: hsl(256, 67%, 59%);
}
@media (max-width:768px){

    .container{
        grid-template-columns: 1fr 1fr;
    }
    .card1, .card3, .card5, .card7{
        grid-column: 1/2;
        grid-row: auto;
    }
    .card2, .card4, .card6, .card8{
        grid-column: 2/3;
        grid-row: auto;
    }
}
@media (max-width:427px){

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .card1, .card3, .card5, .card7, .card2, .card4, .card6, .card8{
        grid-column: 1/2;
        grid-row: auto;
    }
}